@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #012970;
    color: white;
    z-index: 1;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #05c59b;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.header {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 3s;
    opacity: 1;
}

.header-img {
    width: 7rem;
    height: auto;
}

.header-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header h2 {
    color: #012970;
    margin-bottom: 0;
}

.header p {
    font-size: 1.2rem;
}

.header p a {
    font-weight: bold;
    text-decoration: none;
}

.header p a:hover {
    text-decoration: underline;
}

.search-covid-data {
    width: 100%;
}

.search-covid-box-select, .search-covid-box-coord, .cache-statistics {
    animation: fadeIn 3s;
    margin: 5rem 0;
    height: 20rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-covid-box-select h2, .search-covid-box-coord h2, .cache-statistics h2{
    color: #012970;
}

.search-covid-box-select select {
    width: 10rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #fff;
}

.search-covid-box-select button, .search-covid-box-coord button, .cache-statistics button {
    height: 2rem;
    width: 5rem;
    background-color: #fff;
    border: solid 2px #012970;
    border-radius: 3px;
    margin: 2rem 0;
}

.search-covid-box-select button:hover,  .search-covid-box-coord button:hover, .cache-statistics button:hover {
    cursor: pointer;
    color: white;
    background-color: #012970;
    transition: all 0.3s ease-in-out;
}

.search-covid-box-coord input {
    height: 2rem;
}

.covid-data, .covid-data2 {
    width: 100%;
}

.covid-data ul, .covid-data2 ul, .cache ul {
    display: flex;
    justify-content: center;
}

.covid-data ul li, .covid-data2 ul li, .cache ul li {
    width: 8rem;
    height: 5rem;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cache ul li {
    height: 4.3rem;
}

.cache ul li:nth-child(2) {
    margin: 0 0.5rem;
}

.covid-data ul li span, .covid-data2 ul li span, .cache ul li span {
    align-items: flex-end;
}

.footer {
    background-color: #f6f9ff;
    color: #012970;
    width: 100%;
    height: 3rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }